
*{
    padding:0;
    margin: 0;
}
.contenido{

    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: 'Poppins', sans-serif;
    font-weight:500; 
}


.cartel{

    padding: 10px;
    height: 350px;
    width:  450px;
    display: grid;
    justify-content: center;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}
.titulo h3{
    font-size: 25px;
}

.icono img{
    width: 100px;
}

.icono_inicio img {
    width: 100px;
}
.contactos h4{
    font-size: 21px;
}

.datos{

    text-align:justify;
    display: grid;
    justify-content: center;
}
.datos span{
    font-family: 'Poppins', sans-serif;
    font-weight:700; 
}